.btn-white{
  width: 304px;
  height: 45px;
  background-color: $secundary-color;
  border-radius: 30px;
  border-style: none;
	display: inline-block;
	cursor: pointer;
  text-decoration:none;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
  h3{
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.btn-gradient{
  background-image: $primary-gradient;
  color: $secundary-color;
  width: 304px;
  height: 45px;
  border-radius: 30px;
  border-style: none;
	display: inline-block;
	cursor: pointer;
  text-decoration:none;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
}

.btn-gradient-form{
  display: flex;
  justify-content: center;
  font-family: $subTitle;
  font-size: 1.1rem;
  background-image: $primary-gradient;
  color: $secundary-color;
  width: 304px;
  height: 45px;
  border-radius: 30px;
  border-style: none;
	display: inline-block;
	cursor: pointer;
  text-decoration:none;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
}