.form-sign-up{

  .header-form {
    margin-bottom: 40px;
  }

  .img-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .profile-img {
      width: 90px;
      height: 90px;
      margin-right: 40px;
      background-color: #dddddd;
      border-radius: 100%;
    }
  }
  .info-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
      font-family: $subTitle;
      font-size: 1.25rem;
      margin-bottom: 2px;
    }
    input {
      width: 100%;
      padding: 0px 10px;
      height: 30px;
      font-size: 14px;
      border: 1px solid $detail-color;
      margin-top: 12px;
      border-radius: 20px;
      font-family: $text;     
    }
    input:focus {
      outline: none;
      font-size: 14px;
      border: 1px solid rgb(71, 71, 71);
    }
    p.form-error {
      display: flex;
      justify-content: flex-end;
      color: #e04646;
    }

    select {
      width: 100%;
      padding: 0px 10px;
      height: 30px;
      font-size: 14px;
      border: 1px solid $detail-color;
      margin-top: 12px;
      border-radius: 20px;
      background-color: white;
      font-family: $text;
    }

    textarea {
      width: 100%;
      padding: 4px 10px;
      height: 100px;
      font-size: 14px;
      border: 1px solid $detail-color;
      margin-top: 12px;
      border-radius: 8px;
      background-color: white;
      font-family: $text;
    }

    .skill-group {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      margin-top:12px;

      img {
        width: 100px;
        border-radius: 15px;
      }
      input[type=checkbox]:checked + 
        label {
          img {
            opacity: 0.7;
          }
        }
    }
  }

    input#trx {
      display: none;
  }
    input#yoga {
      display: none;
  }
    input#musculation {
      display: none;
  }
    input#cardio {
      display: none;
  }
    input#stretching {
      display: none;
  }
    input#pilates {
      display: none;
  }

}
