.details-container {
  margin-bottom: 70px;

  .img-container {
    height: 50vh;
    position: relative;
  
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .bookmark {
      position: absolute;
      object-fit: contain;
      width: 45px;
      height: 60px;
      bottom: 20px;
      right: 20px;
      box-shadow: none;
    }

    .previous {
      position: absolute;
      object-fit: none;
      width: 40px;
      height: 40px;
      top: 20px;
      left: 20px;
      box-shadow: none;
      color: $secundary-color;
      text-shadow: 1px 1px 23px #a4a4a4;
      display: flex;
      align-items: center;

      img {
        width: 25px;
        height: 25px;
      }
    }
    .trainer-name {
      position: absolute;
      object-fit: contain;
      width: 70%;
      bottom: 17px;
      left: 19px;
      box-shadow: none;
      background: $primary-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .trainer-city {
      font-family: $subTitle;
      font-size: 1.1rem;
      position: absolute;
      object-fit: contain;
      width: 70%;
      bottom: 14px;
      left: 20px;
      box-shadow: none;
      color: $secundary-color;
      text-shadow: 1px 1px 23px #a4a4a4;
    }
  }
  
  .details-content {
    padding: 20px 20px 0 20px;
    .details-section {
      margin-bottom: 24px;
      h3 {
        margin-bottom: 12px;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap
      }
    
      li {
        margin:0 5px 8px 0;
      }
      
      a {
        text-decoration: none;
        border: 1px solid $detail-color;
        padding: 2px 10px;
        border-radius: 30px;
        color: $detail-color;
        font-size: 0.85rem;
    
      }
      .skill {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

        img {
          width: 31%;
          border-radius: 15px;
          margin-top: 10px;
        }
      }
    }
  }
  .book-now {
    width: 100%;
    margin-top:12px;
    .book-now-title {
      margin-bottom: 12px;
    }
    a {
      list-style-type: none;
      margin: 0 auto;
      text-decoration: none;
    }
    button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}