$primary-gradient: linear-gradient(-185deg, #f58f09ff, #FF528E);
$primary-color: #000000;
$secundary-color: #ffffff;
$detail-color: #cacaca;

$primary-background: #ffffff;
$secundary-background: #000000;