/* ---- typography ---- */

@font-face {
  font-family: SFProCompactBold;
  src: url("../../fonts/SF-Compact-Rounded-Bold.otf") format("opentype");
}
@font-face {
  font-family: SFProDisplayBold;
  src: url("../../fonts/SF-Pro-Display-Bold.otf") format("opentype");
}
@font-face {
  font-family: SFProDisplayLight;
  src: url("../../fonts/SF-Pro-Display-Light.otf") format("opentype");
}
@font-face {
  font-family: SFProDisplaySemiBold;
  src: url("../../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

$logo: SFProCompactBold;
$title: SFProDisplayBold;
$subTitle: SFProDisplaySemiBold;
$text: SFProDisplayLight;


body {
  font-family: $text; 
  color: #111;
  font-size: 1rem;
  line-height: 147%;
}

h1 {
  font-family: $logo;
  font-size: 8rem;
}

h2 {
  font-family: $title;
  font-size: 2.125rem;
  line-height: 2.2rem;
  margin-bottom: 20px;
}

h3 {
  font-family: $subTitle;
  font-size: 1.1rem;
  margin: 0;
}

p {
  font-family: $text;
  margin: 0;
  font-size: 1rem;
}